<div class="container" style="padding: 0px; margin: 0px">
  <img
    alt="Beauty service booking"
    src="/assets/img/phone_woman.jpg"
    style="padding: 0px; margin: 0px"
  />

  <mat-toolbar color="primary" style="padding: 0px; margin: 0px">
    <div class="top-center" style="padding: 0px; margin: 0px">
      <h3 style="padding: 0px; margin: 0px;">
        {{title}}
      </h3>
    </div>
    <div class="left">
      <button mat-button routerLink="/booking-stepper">Paslaugos</button>
      <button mat-button routerLink="/booking-login">Prisijungti</button>
    </div>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>

